.login__form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.register__card {
    height: 190px;
    width: 274px;
    padding: 11px;
}

.form-input {
    width: 90% !important;
    height: 14px !important;
    padding: 4px !important;
}

button {
    margin-top: 32px;
}

label {
    margin-top: 10px;
}
