.login__form {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: whitesmoke;
}

.register__card {
  height: 190px;
  width: 274px;
  padding: 11px;
}

.form-input {
  width: 100%;
}
